{% extends "base.html" %}

{% load crispy_forms_filters %}

{% block content %}
    <div class='row'>
        <div class="col-12 text-center py-5">
            {% if key %}
                <h1 class='my-5'>Activation error. Please try again.</h1>
            {% else %}
                <h1 class='my-5'>Re-activate your email below.</h1>
            {% endif %}
        </div>
        <div class="col-sm-4 mx-auto">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-default" type="submit" value="Resend activation link">
            </form>
        </div>
    </div>
{% endblock %}
