<form action="{% url 'search:query' %}" class="search-form">
    <div class="input-group">
{#        <div class="input-group-prepend">#}
{#            <span class="input-group-text"><i class="fas fa-search"></i></span>#}
{#        </div>#}
        <input type="text" class="form-control" name='q' placeholder="Search for..." aria-label="Search for..."
               value="{{ request.GET.q }}">
        <input type="submit" hidden>
        <span class="input-group-btn">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </span>
    </div>
</form>

