{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'base/css.html' %}
    {% block base_head %}{% endblock base_head %}
</head>
<style>
    a:hover, a:focus {
        text-decoration: none !important;
    }
</style>
<body>
{% include 'base/navbar.html' %}
<div class="container">
    {% block content %}{% endblock content %}
</div>


{% include 'base/js.html' %}

</body>
</html>